<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Book Store</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th> Title</th>
                <th> Description</th>
                <th> Price</th>
                <th> Authors</th>
                <th> Genre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.title}"> Title </span></td>
                <td><span th:text="${book.description}"> Description </span></td>
                <td><span th:text="${book.price}"> Price </span></td>
                <td><span th:text="${book.authors}"> Authors </span></td>
                <td><span th:text="${book.genres}"> Authors </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>